In [1]:
import pandas as pd
import numpy as np

In [2]:
root = 'Tipo de cambio- Dolar a Euro.csv'

df = pd.read_csv(root)
df.head()

,Unnamed: 0,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Tipo de cambio,0.8894,0.8027,0.7467,0.7921,0.9135,0.8526,0.9926,1.0611,1.1225,...,0.7727,0.7577,0.7274,0.8264,0.9207,0.9507,0.8333,0.8717,0.8917,0.8185

In [3]:
df.columns

Index(['Unnamed: 0', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020'],
      dtype='object')

In [4]:
df.dtypes

Unnamed: 0     object
1993          float64
1994          float64
1995          float64
1996          float64
1997          float64
1998          float64
1999          float64
2000          float64
2001          float64
2002          float64
2003          float64
2004          float64
2005          float64
2006          float64
2007          float64
2008          float64
2009          float64
2010          float64
2011          float64
2012          float64
2013          float64
2014          float64
2015          float64
2016          float64
2017          float64
2018          float64
2019          float64
2020          float64
dtype: object

In [5]:
df.head()

,Unnamed: 0,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Tipo de cambio,0.8894,0.8027,0.7467,0.7921,0.9135,0.8526,0.9926,1.0611,1.1225,...,0.7727,0.7577,0.7274,0.8264,0.9207,0.9507,0.8333,0.8717,0.8917,0.8185

In [6]:
df.rename(columns={'Unnamed: 0' : 'variables'}, inplace=True)

In [7]:
df= df.replace({'Tipo de cambio': 'IED(millones€)'})

In [11]:
df.set_index('variables', inplace=True)
df.head()

KeyError: 'variables'

In [19]:
root_2 = 'Variables_economicas/IED.csv'

df_IED = pd.read_csv(root_2, header=0)
df_IED.rename(columns={'Country Name':'country', 'Indicator Name':'variables' }, inplace=True)
df_IED = df_IED[df_IED.country == 'México']
df_IED = df_IED.drop(['Indicator Code', 'Country Code'], axis=1)
df_IED['country'] = df_IED['country'].replace('México', 'MEXICO')
df_IED= df_IED.replace({'Inversión extranjera directa, entrada neta de capital (balanza de pagos, US$ a precios actuales)': 'IED(millones€)'})



df_IED.head()

,country,variables,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
152,MEXICO,IED(millones€),4.389000e+09,1.097250e+10,9.526290e+09,9.185600e+09,1.282980e+10,1.275676e+10,1.394104e+10,1.838228e+10,...,2.383515e+10,1.820348e+10,5.079144e+10,2.860793e+10,3.573781e+10,3.877818e+10,3.301667e+10,3.765302e+10,2.935397e+10,NaN

In [20]:
df_IED.dtypes

country       object
variables     object
1993         float64
1994         float64
1995         float64
1996         float64
1997         float64
1998         float64
1999         float64
2000         float64
2001         float64
2002         float64
2003         float64
2004         float64
2005         float64
2006         float64
2007         float64
2008         float64
2009         float64
2010         float64
2011         float64
2012         float64
2013         float64
2014         float64
2015         float64
2016         float64
2017         float64
2018         float64
2019         float64
2020         float64
dtype: object

In [21]:
df_IED = df_IED.drop(['country'], axis=1)

In [22]:
df_IED.set_index('variables', inplace=True)

In [23]:
df_IED.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
IED(millones€),4.389000e+09,1.097250e+10,9.526290e+09,9.185600e+09,1.282980e+10,1.275676e+10,1.394104e+10,1.838228e+10,3.006002e+10,2.405513e+10,...,2.383515e+10,1.820348e+10,5.079144e+10,2.860793e+10,3.573781e+10,3.877818e+10,3.301667e+10,3.765302e+10,2.935397e+10,NaN

In [24]:
df_IED = df_IED.div(1000000)
df_IED.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
IED(millones€),4389.0,10972.5,9526.29,9185.6,12829.8,12756.764558,13941.043232,18382.284821,30060.020323,24055.125415,...,23835.150153,18203.476257,50791.44399,28607.931617,35737.80861,38778.176276,33016.667343,37653.019206,29353.967205,NaN

In [25]:
df.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
IED(millones€),0.8894,0.8027,0.7467,0.7921,0.9135,0.8526,0.9926,1.0611,1.1225,0.9524,...,0.7727,0.7577,0.7274,0.8264,0.9207,0.9507,0.8333,0.8717,0.8917,0.8185

In [26]:
df_IED = df_IED.mul(df, axis=0)
df_IED.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
IED(millones€),3903.5766,8807.62575,7113.280743,7275.91376,11720.0223,10876.417462,13837.879512,19505.442424,33742.372813,22910.101445,...,18417.420523,13792.77396,36945.696358,23641.594688,32903.800387,36866.412186,27512.788897,32822.136842,26174.932557,NaN

In [27]:
%store df_IED

Stored 'df_IED' (DataFrame)