## Exploración de un fichero

Abrir el fichero para vercomo se visualiza un unico fichero y como limpiar el fichero inicial.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
root = 'España en Argentina.xls'

In [3]:
df_arg = pd.read_excel(root, header=1)
df_arg.head()

WARNING *** file size (32704) not 512 + multiple of sector size (512)

,Elemento,Unnamed: 1,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,ENE-SEP 2020
0,NaN,NaN,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,...,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros,Flujos Inversion Bruta en miles de euros
1,ARGENTINA,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI...",294.5,3109.2,2121.64,1729.88,2101.62,5186.01,5102.35,3541.88,...,177716,46944.2,9933.33,20056.9,21865.7,9417.92,2680.56,20885,NaN,5717.28
2,NaN,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL,NaN,237.73,5205.75,1775.7,8870.99,139.92,766.07,1558.23,...,1307.35,0,0,433.12,0,595.79,1605.78,808.3,190.2,39.07
3,NaN,03 PESCA Y ACUICULTURA,806.69,742.72,5305.88,2932.19,3122.82,4662.34,4534.62,21775.1,...,0,0,0,1637.95,1337.91,6258.24,250,3445.53,0,0
4,NaN,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO",180.15,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_arg.columns

Index(['Elemento', 'Unnamed: 1', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', 'ENE-SEP 2020'],
      dtype='object')

In [5]:
df_arg_2= df_arg.drop([0], axis=0)
df_arg_2.head()

,Elemento,Unnamed: 1,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,ENE-SEP 2020
1,ARGENTINA,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI...",294.5,3109.2,2121.64,1729.88,2101.62,5186.01,5102.35,3541.88,...,177716,46944.2,9933.33,20056.9,21865.7,9417.92,2680.56,20885,NaN,5717.28
2,NaN,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL,NaN,237.73,5205.75,1775.7,8870.99,139.92,766.07,1558.23,...,1307.35,0,0,433.12,0,595.79,1605.78,808.3,190.2,39.07
3,NaN,03 PESCA Y ACUICULTURA,806.69,742.72,5305.88,2932.19,3122.82,4662.34,4534.62,21775.1,...,0,0,0,1637.95,1337.91,6258.24,250,3445.53,0,0
4,NaN,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO",180.15,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,06 EXTRACCIÓN DE CRUDO DE PETRÓLEO Y GAS NATURAL,NaN,NaN,NaN,143714,NaN,0,1.43341e+07,NaN,...,1.12,930,919.45,54017.9,77549.6,0,0,0,NaN,NaN

In [6]:
df_arg_2.rename(columns={'Unnamed: 1':'industry',
                        'Elemento': 'country'}, inplace=True)
df_arg_2.head()

,country,industry,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,ENE-SEP 2020
1,ARGENTINA,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI...",294.5,3109.2,2121.64,1729.88,2101.62,5186.01,5102.35,3541.88,...,177716,46944.2,9933.33,20056.9,21865.7,9417.92,2680.56,20885,NaN,5717.28
2,NaN,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL,NaN,237.73,5205.75,1775.7,8870.99,139.92,766.07,1558.23,...,1307.35,0,0,433.12,0,595.79,1605.78,808.3,190.2,39.07
3,NaN,03 PESCA Y ACUICULTURA,806.69,742.72,5305.88,2932.19,3122.82,4662.34,4534.62,21775.1,...,0,0,0,1637.95,1337.91,6258.24,250,3445.53,0,0
4,NaN,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO",180.15,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,06 EXTRACCIÓN DE CRUDO DE PETRÓLEO Y GAS NATURAL,NaN,NaN,NaN,143714,NaN,0,1.43341e+07,NaN,...,1.12,930,919.45,54017.9,77549.6,0,0,0,NaN,NaN

In [7]:
df_arg_2['country'] = df_arg_2['country'].replace(np.nan, 'ARGENTINA')
df_arg_2.head()

,country,industry,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,ENE-SEP 2020
1,ARGENTINA,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI...",294.5,3109.2,2121.64,1729.88,2101.62,5186.01,5102.35,3541.88,...,177716,46944.2,9933.33,20056.9,21865.7,9417.92,2680.56,20885,NaN,5717.28
2,ARGENTINA,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL,NaN,237.73,5205.75,1775.7,8870.99,139.92,766.07,1558.23,...,1307.35,0,0,433.12,0,595.79,1605.78,808.3,190.2,39.07
3,ARGENTINA,03 PESCA Y ACUICULTURA,806.69,742.72,5305.88,2932.19,3122.82,4662.34,4534.62,21775.1,...,0,0,0,1637.95,1337.91,6258.24,250,3445.53,0,0
4,ARGENTINA,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO",180.15,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ARGENTINA,06 EXTRACCIÓN DE CRUDO DE PETRÓLEO Y GAS NATURAL,NaN,NaN,NaN,143714,NaN,0,1.43341e+07,NaN,...,1.12,930,919.45,54017.9,77549.6,0,0,0,NaN,NaN

In [8]:
df_arg_2.fillna(0)
df_arg_2.head()

,country,industry,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,ENE-SEP 2020
1,ARGENTINA,"01 AGRICULTURA, GANADERÍA, CAZA Y SERV. RELACI...",294.5,3109.2,2121.64,1729.88,2101.62,5186.01,5102.35,3541.88,...,177716,46944.2,9933.33,20056.9,21865.7,9417.92,2680.56,20885,NaN,5717.28
2,ARGENTINA,02 SILVICULTURA Y EXPLOTACIÓN FORESTAL,NaN,237.73,5205.75,1775.7,8870.99,139.92,766.07,1558.23,...,1307.35,0,0,433.12,0,595.79,1605.78,808.3,190.2,39.07
3,ARGENTINA,03 PESCA Y ACUICULTURA,806.69,742.72,5305.88,2932.19,3122.82,4662.34,4534.62,21775.1,...,0,0,0,1637.95,1337.91,6258.24,250,3445.53,0,0
4,ARGENTINA,"05 EXTRACCIÓN DE ANTRACITA, HULLA Y LIGNITO",180.15,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ARGENTINA,06 EXTRACCIÓN DE CRUDO DE PETRÓLEO Y GAS NATURAL,NaN,NaN,NaN,143714,NaN,0,1.43341e+07,NaN,...,1.12,930,919.45,54017.9,77549.6,0,0,0,NaN,NaN

In [9]:
type(df_arg_2)

pandas.core.frame.DataFrame

In [10]:
df_arg_2.dtypes

country         object
industry        object
1993            object
1994            object
1995            object
1996            object
1997            object
1998            object
1999            object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
ENE-SEP 2020    object
dtype: object

In [43]:
#df_arg_2 = df_arg_2['1993'].astype(float)

In [45]:
#df_arg_2.head()

1    294.50
2       NaN
3    806.69
4    180.15
5       NaN
Name: 1993, dtype: float64