In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pathlib
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
root = 'df_ARG.csv'

df_ARG = pd.read_csv(root)
df_ARG.head()

   Unnamed: 0  year  investment
0           0  1993   122415.35
1          24  1994   581152.83
2          48  1995   229211.55
3          72  1996  1179473.44
4          96  1997  2547275.12