In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from test_funcion import variable_porcentaje, tipo_cambio

In [5]:
root = "Variables_economicas/tasa de interes.csv"
variable_porcentaje(root)

,variables,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
152,Tasa de interés activa (%),18.23,19.3,59.43,36.39,22.14,26.36,23.74,16.93,12.8,...,4.91,4.68,4.27,3.55,3.44,4.75,7.33,8.04,8.43,6.34

In [6]:
root_IPC = "Variables_economicas/IPC.csv"
variable_porcentaje(root_IPC)

,variables,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
152,"Inflación, precios al consumidor (% anual)",9.75,6.97,35.0,34.38,20.63,15.93,16.59,9.49,6.37,...,3.41,4.11,3.81,4.02,2.72,2.82,6.04,4.9,3.64,3.4

In [7]:
root = 'Variables_economicas/balanza de pagos.csv'
tipo_cambio(root)

variables  Saldo en cuenta corriente (balanza de pagos, US$ a precios actuales)
1993                                               -20811.96
1994                                               -23809.78
1995                                                -1177.13
1996                                                -1986.39
1997                                                -7001.92
1998                                               -13635.34
1999                                               -13896.14
2000                                               -19898.19
2001                                               -19927.19
2002                                               -14168.26
2003                                                -6630.11
2004                                                -5175.48
2005                                                -7642.72
2006                                                -2690.22
2007                                                -6783.74
2008                                               -12021.58
2009                                                -5418.38
2010                                                -3609.46
2011                                                -9186.57
2012                                               -14120.93
2013                                               -22925.27
2014                                               -21013.06
2015                                               -28594.92
2016                                               -23151.39
2017                                               -17027.89
2018                                               -22088.42
2019                                                -3779.32
2020                                                21748.36