In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from funciones_ficheros_2 import variables_porcentajes

NameError: name 'null' is not defined

In [15]:
root = 'Variables_economicas/Exportaciones.csv'
tipo_cambio(root)

variables  Exportaciones de mercaderías (US$ a precios actuales)
1993                                                46147.41
1994                                                48869.98
1995                                                59394.01
1996                                                76041.60
1997                                               100878.72
1998                                               100146.40
1999                                               135381.71
2000                                               176532.02
2001                                               177969.01
2002                                               153033.54
2003                                               131407.12
2004                                               138654.05
2005                                               180833.55
2006                                               189345.46
2007                                               186306.11
2008                                               208312.73
2009                                               160453.83
2010                                               222923.33
2011                                               270111.97
2012                                               280932.43
2013                                               276422.91
2014                                               328008.08
2015                                               350372.38
2016                                               355512.36
2017                                               341180.52
2018                                               392886.52
2019                                               410809.76
2020                                               341863.14

In [3]:
df_export = df_export.rename(columns = {'Exportaciones de mercaderías (US$ a precios actuales)': 'Exportaciones(millones€)'})

NameError: name 'df_export' is not defined

In [4]:
df_export

NameError: name 'df_export' is not defined