In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pathlib
import seaborn as sns
from pandas.plotting import autocorrelation_plot
from math import sqrt

In [3]:
root = 'Variables_economicas/IED.csv'

df = pd.read_csv(root, header=2)
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Inversión extranjera directa, entrada neta de ...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.146927e+08,2.263714e+08,2.506181e+08,-2.877586e+07,2.755127e+07,1.624636e+08,1.355291e+08,-7.604174e+07,NaN,NaN
1,Afganistán,AFG,"Inversión extranjera directa, entrada neta de ...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.682366e+07,4.831135e+07,4.297526e+07,1.691466e+08,9.359132e+07,5.153390e+07,1.194351e+08,2.340455e+07,NaN,NaN
2,Angola,AGO,"Inversión extranjera directa, entrada neta de ...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.464628e+09,-7.120017e+09,3.657515e+09,1.002822e+10,-1.795176e+08,-7.397295e+09,-6.456076e+09,-4.098479e+09,NaN,NaN
3,Albania,ALB,"Inversión extranjera directa, entrada neta de ...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.179946e+08,1.254151e+09,1.149928e+09,9.895783e+08,1.044390e+09,1.022758e+09,1.204383e+09,1.201022e+09,NaN,NaN
4,Andorra,AND,"Inversión extranjera directa, entrada neta de ...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [5]:
df.rename(columns={'Country Name':'country'}, inplace=True)

In [6]:
df.columns

Index(['country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [7]:
df['country'].unique()

array(['Aruba', 'Afganistán', 'Angola', 'Albania', 'Andorra',
       'El mundo árabe', 'Emiratos Árabes Unidos', 'Argentina', 'Armenia',
       'Samoa Americana', 'Antigua y Barbuda', 'Australia', 'Austria',
       'Azerbaiyán', 'Burundi', 'Bélgica', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrein', 'Bahamas',
       'Bosnia y Herzegovina', 'Belarús', 'Belice', 'Bermudas', 'Bolivia',
       'Brasil', 'Barbados', 'Brunei Darussalam', 'Bhután', 'Botswana',
       'República Centroafricana', 'Canadá',
       'Europa Central y del Báltico', 'Suiza', 'Islas del Canal',
       'Chile', 'China', "Côte d'Ivoire", 'Camerún',
       'Congo, República Democrática del', 'Congo, República del',
       'Colombia', 'Comoras', 'Cabo Verde', 'Costa Rica',
       'Estados pequeos del Caribe', 'Cuba', 'Curacao', 'Islas Caimán',
       'Chipre', 'República Checa', 'Alemania', 'Djibouti', 'Dominica',
       'Dinamarca', 'República Dominicana', 'Argelia',
       'Asia oriental y el Pacífico (excluido altos ingresos)',
       'inicial del dividendo demográfico', 'Asia oriental y el Pacífico',
       'Europa y Asia central (excluido altos ingresos)',
       'Europa y Asia central', 'Ecuador', 'Egipto, República Árabe de',
       'Zona del Euro', 'Eritrea', 'España', 'Estonia', 'Etiopía',
       'Unión Europea', 'Frágiles y situaciones de conflicto afectados',
       'Finlandia', 'Fiji', 'Francia', 'Islas Feroe',
       'Micronesia (Estados Federados de)', 'Gabón', 'Reino Unido',
       'Georgia', 'Ghana', 'Gibraltar', 'Guinea', 'Gambia',
       'Guinea-Bissau', 'Guinea Ecuatorial', 'Grecia', 'Granada',
       'Groenlandia', 'Guatemala', 'Guam', 'Guyana', 'Ingreso alto',
       'Hong Kong, Región Administrativa Especial', 'Honduras',
       'Países pobres muy endeudados (PPME)', 'Croacia', 'Haití',
       'Hungría', 'Sólo BIRF', 'BIRF y la AIF', 'total de la AIF',
       'mezcla de la AIF', 'Indonesia', 'Sólo AIF', 'Isla de Man',
       'India', 'No clasificado', 'Irlanda',
       'Irán, República Islámica del', 'Iraq', 'Islandia', 'Israel',
       'Italia', 'Jamaica', 'Jordania', 'Japón', 'Kazajstán', 'Kenya',
       'Kirguistán', 'Camboya', 'Kiribati', 'Saint Kitts y Nevis',
       'Corea, República de', 'Kuwait',
       'América Latina y el Caribe (excluido altos ingresos)',
       'República Democrática Popular Lao', 'Líbano', 'Liberia', 'Libia',
       'Santa Lucía', 'América Latina y el Caribe',
       'Países menos desarrollados: clasificación de las Naciones Unidas',
       'Países de ingreso bajo', 'Liechtenstein', 'Sri Lanka',
       'Países de ingreso mediano bajo', 'Ingreso mediano y bajo',
       'Lesotho', 'avanzada del dividendo demográfico', 'Lituania',
       'Luxemburgo', 'Letonia',
       'Región Administrativa Especial de Macao, China',
       'Isla de San Martín (parte francesa)', 'Marruecos', 'Mónaco',
       'República de Moldova', 'Madagascar', 'Maldivas',
       'Oriente Medio y Norte de África', 'México', 'Islas Marshall',
       ' Ingreso mediano', 'Macedonia del Norte', 'Malí', 'Malta',
       'Myanmar',
       'Oriente Medio y Norte de África (excluido altos ingresos)',
       'Montenegro', 'Mongolia', 'Mariana', 'Mozambique', 'Mauritania',
       'Mauricio', 'Malawi', 'Malasia', 'América del Norte', 'Namibia',
       'Nueva Caledonia', 'Níger', 'Nigeria', 'Nicaragua', 'Países Bajos',
       'Noruega', 'Nepal', 'Nauru', 'Nueva Zelandia', 'Miembros OCDE',
       'Omán', 'Otros Estados pequeos', 'Pakistán', 'Panamá', 'Perú',
       'Filipinas', 'Palau', 'Papua Nueva Guinea', 'Polonia',
       'previa al dividendo demográfico', 'Puerto Rico',
       'Corea, República Popular Democrática de', 'Portugal', 'Paraguay',
       'Ribera Occidental y Gaza',
       'Estados pequeos de las Islas del Pacfico',
       'posterior al dividendo demográfico', 'Polinesia Francesa',
       'Qatar', 'Rumania', 'Federación de Rusia', 'Rwanda',
       'Asia meridional', 'Arabia Saudita', 'Sudán', 'Senegal',
       'Singapur', 'Islas Salomón', 'Sierra Leona', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia',
       'África al sur del Sahara (excluido altos ingresos)',
       'Sudán del Sur', 'África al sur del Sahara', 'Pequeños Estados',
       'Santo Tomé y Príncipe', 'Suriname', 'República Eslovaca',
       'Eslovenia', 'Suecia', 'Eswatini', 'Sint Maarten (Dutch part)',
       'Seychelles', 'República Árabe Siria', 'Islas Turcas y Caicos',
       'Chad', 'Asia oriental y el Pacífico (BIRF y la AIF)',
       'Europa y Asia central (BIRF y la AIF)', 'Togo', 'Tailandia',
       'Tayikistán', 'Turkmenistán',
       'América Latina y el Caribe (BIRF y la AIF)', 'Timor-Leste',
       'Oriente Medio y Norte de África (BIRF y la AIF)', 'Tonga',
       'Asia meridional (BIRF y la AIF)',
       'África al sur del Sahara (BIRF y la AIF)', 'Trinidad y Tobago',
       'Túnez', 'Turquía', 'Tuvalu', 'Tanzanía', 'Uganda', 'Ucrania',
       'Ingreso mediano alto', 'Uruguay', 'Estados Unidos', 'Uzbekistán',
       'San Vicente y las Granadinas', 'Venezuela',
       'Islas Vírgenes Británicas', 'Islas Vírgenes (EE.UU.)', 'Viet Nam',
       'Vanuatu', 'Mundo', 'Samoa', 'Kosovo', 'Yemen, Rep. del',
       'Sudáfrica', 'Zambia', 'Zimbabwe'], dtype=object)

In [8]:
df = df[df.country == 'México']
df.head()

,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
152,México,MEX,"Inversión extranjera directa, entrada neta de ...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.820348e+10,5.079144e+10,2.860793e+10,3.573781e+10,3.877818e+10,3.301667e+10,3.765302e+10,2.935397e+10,NaN,NaN

In [9]:
root = 'Variables_economicas/IPC.csv'

df_ipc = pd.read_csv(root, header=2)
df_ipc.rename(columns={'Country Name':'country'}, inplace=True)
df_ipc = df_ipc[df_ipc.country == 'México']
df_ipc.head()

,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
152,México,MEX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.927519,1.60876,1.198984,0.594055,2.337903,3.568039,...,4.11151,3.806391,4.018616,2.720641,2.821708,6.041457,4.89935,3.635961,NaN,NaN

In [10]:
df.head()

,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
152,México,MEX,"Inversión extranjera directa, entrada neta de ...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.820348e+10,5.079144e+10,2.860793e+10,3.573781e+10,3.877818e+10,3.301667e+10,3.765302e+10,2.935397e+10,NaN,NaN

In [11]:
variables_economicas = pd.DataFrame()

In [12]:
variables_economicas = pd.concat([df, df_ipc]).reset_index()
variables_economicas.head()

,index,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,152,México,MEX,"Inversión extranjera directa, entrada neta de ...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,...,1.820348e+10,5.079144e+10,2.860793e+10,3.573781e+10,3.877818e+10,3.301667e+10,3.765302e+10,2.935397e+10,NaN,NaN
1,152,México,MEX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.927519,1.60876,1.198984,0.594055,2.337903,...,4.111510e+00,3.806391e+00,4.018616e+00,2.720641e+00,2.821708e+00,6.041457e+00,4.899350e+00,3.635961e+00,NaN,NaN

In [13]:
root = 'Variables_economicas/PIB.csv'

df_PIB = pd.read_csv(root, header=2)
df_PIB.rename(columns={'Country Name':'country'}, inplace=True)
df_PIB = df_PIB[df_PIB.country == 'México']
df_PIB.head()

,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
152,México,MEX,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,5.0,4.664415,8.106887,11.905481,7.1,...,3.642323,1.354092,2.849773,3.293152,2.630532,2.113129,2.194992,-0.054528,NaN,NaN

In [19]:
def limpieza_indicadores(root):
    "limpieza del fichero inicial de cada indicador económico. Base de datos del Banco Mundial"
    df = pd.read_csv(root, header=2)
    df.rename(columns={'Country Name':'country', 'Indicator Name':'variables' }, inplace=True)
    df = df[df.country == 'México']
    df = df.drop(['Indicator Code', 'Country Code', 'Unnamed: 65'], axis=1)
    df['country'] = df['country'].replace('México', 'MEXICO')
    
    
    return df

In [20]:
var_economicas = pd.DataFrame()
directory = 'Variables_economicas/'

directory = pathlib.Path(directory)

for file in directory.iterdir():
    variable = limpieza_indicadores(file)
    var_economicas = pd.concat([var_economicas, variable])

In [21]:
var_economicas.head()

,country,variables,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
152,MEXICO,"Desempleo, total (% de la población activa tot...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.170000e+00,4.890000e+00,4.910000e+00,4.810000e+00,4.310000e+00,3.860000e+00,3.420000e+00,3.280000e+00,3.480000e+00,4.71
152,MEXICO,Crecimiento del PIB (% anual),NaN,5.00000,4.664415,8.106887,11.905481,7.100000,6.096139,5.854925,...,3.663008e+00,3.642323e+00,1.354092e+00,2.849773e+00,3.293152e+00,2.630532e+00,2.113129e+00,2.194992e+00,-5.452793e-02,NaN
152,MEXICO,"Inversión extranjera directa, entrada neta de ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.383515e+10,1.820348e+10,5.079144e+10,2.860793e+10,3.573781e+10,3.877818e+10,3.301667e+10,3.765302e+10,2.935397e+10,NaN
152,MEXICO,"Inflación, precios al consumidor (% anual)",4.927519,1.60876,1.198984,0.594055,2.337903,3.568039,4.215788,3.016948,...,3.407378e+00,4.111510e+00,3.806391e+00,4.018616e+00,2.720641e+00,2.821708e+00,6.041457e+00,4.899350e+00,3.635961e+00,NaN

In [22]:
%store var_economicas

Stored 'var_economicas' (DataFrame)