## Variables ecómicas

Importar las variables economicas, tratamiento de las mismas.

Unión de las variables economicas en la variable *var_economicas*

In [1]:
import pandas as pd

In [2]:
var_economicas = pd.DataFrame()

In [3]:
%store -r df_IED  #Edit_IED a Euro.pynb

no stored variable #Edit_IED a Euro.pynb

In [4]:
df_IED

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
IED(millones€),3903.5766,8807.62575,7113.280743,7275.91376,11720.0223,10876.417462,13837.879512,19505.442424,33742.372813,22910.101445,...,18417.420523,13792.77396,36945.696358,23641.594688,32903.800387,36866.412186,27512.788897,32822.136842,26174.932557,NaN

In [5]:
def limpieza_indicadores(root):
    "limpieza del fichero inicial de cada indicador económico. Base de datos del Banco Mundial"
    
    df = pd.read_csv(root, header=0)
    df.rename(columns={'Country Name':'country', 'Indicator Name':'variables' }, inplace=True)
    df = df[df.country == 'México']
    df['country'] = df['country'].replace('México', 'MEXICO')
    df = df.drop(['country', 'Country Code', 'Indicator Code'], axis=1)
    
    
    return df

In [6]:
root_IPC = "Variables_economicas/IPC.csv"
df_IPC = limpieza_indicadores(root_IPC)
df_IPC = df_IPC.round(2)
df_IPC = df_IPC.replace({'Inflación, precios al consumidor (% anual)': 'IPC(%anual)'})
df_IPC.set_index('variables', inplace=True)

df_IPC.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
IPC(%anual),9.75,6.97,35.0,34.38,20.63,15.93,16.59,9.49,6.37,5.03,...,3.41,4.11,3.81,4.02,2.72,2.82,6.04,4.9,3.64,NaN

In [7]:
root_PIB = "Variables_economicas/PIB.csv"
df_PIB = limpieza_indicadores(root_PIB)
df_PIB = df_PIB.round(2)
df_PIB = df_PIB.replace({'Crecimiento del PIB (% anual)': 'IPB(%anual)'})
df_PIB.set_index('variables', inplace=True)

df_PIB.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
IPB(%anual),1.94,4.94,-6.29,6.77,6.85,5.16,2.75,4.94,-0.4,-0.04,...,3.66,3.64,1.35,2.85,3.29,2.63,2.11,2.19,-0.05,NaN

In [8]:
root_Desempleo = "Variables_economicas/Desempleo.csv"
df_Desempleo = limpieza_indicadores(root_Desempleo)
df_Desempleo = df_Desempleo.round(2)
df_Desempleo = df_Desempleo.replace({'Desempleo, total (% de la población activa total) (estimación modelado OIT)': 'Desempleo (%)'})
df_Desempleo.set_index('variables', inplace=True)

df_Desempleo.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
Desempleo (%),3.37,4.44,7.1,5.47,4.24,3.73,2.6,2.65,2.63,3.0,...,5.17,4.89,4.91,4.81,4.31,3.86,3.42,3.28,3.48,4.71

In [9]:
var_economicas = pd.concat([var_economicas, df_Desempleo,df_PIB,df_IPC,df_IED])

In [10]:
var_economicas

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
variables,,,,,,,,,,,,,,,,,,,,,
Desempleo (%),3.3700,4.44000,7.100000,5.47000,4.2400,3.730000,2.600000,2.650000,2.630000,3.000000,...,5.170000,4.89000,4.910000,4.810000,4.310000,3.860000,3.420000,3.280000,3.480000,4.71
IPB(%anual),1.9400,4.94000,-6.290000,6.77000,6.8500,5.160000,2.750000,4.940000,-0.400000,-0.040000,...,3.660000,3.64000,1.350000,2.850000,3.290000,2.630000,2.110000,2.190000,-0.050000,NaN
IPC(%anual),9.7500,6.97000,35.000000,34.38000,20.6300,15.930000,16.590000,9.490000,6.370000,5.030000,...,3.410000,4.11000,3.810000,4.020000,2.720000,2.820000,6.040000,4.900000,3.640000,NaN
IED(millones€),3903.5766,8807.62575,7113.280743,7275.91376,11720.0223,10876.417462,13837.879512,19505.442424,33742.372813,22910.101445,...,18417.420523,13792.77396,36945.696358,23641.594688,32903.800387,36866.412186,27512.788897,32822.136842,26174.932557,NaN

In [11]:
var_economicas.columns

Index(['1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020'],
      dtype='object')

In [12]:
var_economicas.dtypes

1993    float64
1994    float64
1995    float64
1996    float64
1997    float64
1998    float64
1999    float64
2000    float64
2001    float64
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
2020    float64
dtype: object

In [14]:
%store var_economicas

Stored 'var_economicas' (DataFrame)